:root {
    --white: #F5F0E9;
    --black: #4A4D56;
    --embossed-white: #DBD5CD;
    --green: #587077;

    --body-font: font-family: 'Rubik', sans-serif;
    --heading-font: font-family: 'Chivo', sans-serif;

}
